server/logs/
server/crash-reports/
server/banned-ips.json
server/banned-players.json
server/ops.json
server/server.properties
server/usercache.json
client/logs/
client/saves/
client/journeymap/
client/usercache.json
client/usernamecache.json
client/optionsof.txt
client/options.txt
